include:
  - project: uniprot/variation/protvar-deploy
    ref: master
    file: /ci-templates/gitlab-ci-template.yml

variables:
  UPSTREAM_CI_COMMIT_BRANCH: $CI_COMMIT_BRANCH

stages:
  - test
  - build
  - build_docker_image
  - deploy
  - integration_test

.mvn:
  image: maven:3.9.9-eclipse-temurin-21-alpine
  before_script:
    - java --version
    - mvn --version
    - echo "<settings>
        <servers>
          <server>
            <id>internal-repo</id>
            <username>${UNI_MVN_USER}</username>
            <password>${UNI_MVN_PASSWORD}</password>
          </server>
          <server>
            <id>internal-repo-snapshots</id>
            <username>${UNI_MVN_USER}</username>
            <password>${UNI_MVN_PASSWORD}</password>
          </server>
        </servers>
      </settings>" > ~/.m2/settings.xml

test:
  extends: .mvn
  stage: test
  script:
    - mkdir -p /data
    - mvn clean verify

build:
  only:
    refs:
      - main
      - dev
  extends: .mvn
  stage: build
  script:
    - mvn -DskipTests clean package
    - mkdir -p target/dependency && (cd target/dependency; jar -xf ../*.jar)
  artifacts:
    expire_in: 2 days
    paths:
      - target/dependency

build_docker_image:
  only:
    refs:
      - main
      - dev
  extends: .build_docker
  stage: build_docker_image

dev-deploy:
  only:
    refs:
      - dev
  extends: .deploy
  stage: deploy
  script:
    - ./protvar-deploy/scripts/deploy.sh ENV=DV APP_NAME=protvar-be K8S_NAMESPACE=protvar-dev imageTag="${CI_COMMIT_SHORT_SHA}"

main-deploy:
  only:
    refs:
      - main
  extends: .deploy
  stage: deploy
  script:
    - ./protvar-deploy/scripts/deploy.sh ENV=FB APP_NAME=protvar-be K8S_NAMESPACE=protvar imageTag="${CI_COMMIT_SHORT_SHA}"
    - ./protvar-deploy/scripts/deploy.sh ENV=PB APP_NAME=protvar-be K8S_NAMESPACE=protvar imageTag="${CI_COMMIT_SHORT_SHA}"

trigger_integration_tests:
  only:
    refs:
      - main
      - dev
  stage: integration_test
  trigger:
    project: uniprot/framework/protvar-integration-tests
  inherit: # only allow propagating the declared vars
    variables:
      - UPSTREAM_CI_COMMIT_BRANCH