include:
  - project: uniprot/variation/protvar-deploy
    ref: master
    file: /ci-templates/gitlab-ci-template.yml

variables:
  UPSTREAM_CI_COMMIT_BRANCH: $CI_COMMIT_BRANCH

stages:
  - test
  - build
  - build_docker_image
  - deploy
#  - integration_test

.mvn:
  image: dockerhub.ebi.ac.uk/uniprot/variation/protvar-deploy/cached/maven-3.9.9-eclipse-temurin-21-alpine
  before_script:
    - java --version
    - mvn --version
    - echo "<settings>
        <servers>
          <server>
            <id>internal-repo</id>
            <username>${UNI_MVN_USER}</username>
            <password>${UNI_MVN_PASSWORD}</password>
          </server>
          <server>
            <id>internal-repo-snapshots</id>
            <username>${UNI_MVN_USER}</username>
            <password>${UNI_MVN_PASSWORD}</password>
          </server>
        </servers>
      </settings>" > ~/.m2/settings.xml

test:
  extends: .mvn
  stage: test
  script:
    - mkdir -p /data
    - mvn clean verify

build:
  only:
    refs: [int, dev, main]
  extends: .mvn
  stage: build
  script:
    - mvn -DskipTests clean package
    - mkdir -p target/dependency && (cd target/dependency; jar -xf ../*.jar)
  artifacts:
    expire_in: 2 days
    paths:
      - target/dependency

build_docker_image:
  only:
    refs: [int, dev, main]
  extends: .build_docker
  stage: build_docker_image

deploy_int:
  only:
    refs: [int]
  extends: .deploy
  stage: deploy
  script:
    - ./protvar-deploy/scripts/deploy.sh "${CI_COMMIT_REF_NAME}" "protvar-be" "${CI_COMMIT_SHORT_SHA}"

deploy_dev:
  only:
    refs: [dev]
  extends: .deploy
  stage: deploy
  script:
    - ./protvar-deploy/scripts/deploy.sh "${CI_COMMIT_REF_NAME}" "protvar-be" "${CI_COMMIT_SHORT_SHA}"

deploy_main:
  only:
    refs: [main]
  extends: .deploy
  stage: deploy
  when: manual  # Example: require manual trigger for production
  script:
    - ./protvar-deploy/scripts/deploy.sh "${CI_COMMIT_REF_NAME}" "protvar-be" "${CI_COMMIT_SHORT_SHA}"

#trigger_integration_tests:
#  only:
#    refs: [main, dev]
#  stage: integration_test
#  trigger:
#    project: uniprot/framework/protvar-integration-tests
#  inherit: # only allow propagating the declared vars
#    variables:
#      - UPSTREAM_CI_COMMIT_BRANCH